body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.container {
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
  text-align: center;
  padding: 20px; /* Increase padding for the card */
  height: 400px; /* Increase the card height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block-info {
  margin-bottom: 20px;
}

.search-bar {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Add margin to the buttons for spacing */
.buttons button {
  margin-right: 10px;
}

/* Remove margin from the last button to avoid extra space */
.buttons button:last-child {
  margin-right: 0;
}

button {
  padding: 10px 50px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.password-error {
  border: 2px solid red;
}

/* For demonstration purpose - simulate card content */
#blockValue {
  font-weight: bold;
}
