<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Information</title>
  <link rel="stylesheet" href="./css/styles2.css">
</head>
<body>

<div class="container">
  <div class="card">
    <h2>Block Information</h2>
    <div class="block-info">
      <p>Block Number: <span id="blockNumber">1234</span></p>
      <!-- You can add more information here -->
    </div>
    <input type="text" placeholder="Search..." class="search-bar">
    <div class="buttons">
      <button id="getButton">Get</button>
      <button id="setButton">Set</button>
      <!--<button onclick="uploadContent('button3')">Upload Content 3</button> -->
    </div>
  </div>
</div>

<script src="./js/home.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
